* {margin: 0; padding: 0;}

.content {
    display: flex;
    margin: 150px 50px 50px 50px;
    font-family: sans-serif;
    color: green;
}

#area {
    width: 236px;
    margin: 0 auto;
    font-size: 0;
}

.cell {
    width: 70px;
    height: 70px;
    line-height: 65px;
    text-align: center;
    display: inline-block;
    font-size: 32px;
    border: 3px solid rgb(56, 25, 219);
    cursor: pointer;
    vertical-align: middle;
    transition: background .1s;
    border-radius: 5px;
}

.cell:hover {
    background-color: #f0ebeb;
}

.currentPlayer {
    width: 140px;
    font-size: 38px;
    display: flex;
    align-items: center;
}

.stat {
    display: flex;
    align-items: center;
    font-size: 22px;
}

.stat table {
    border-collapse: collapse;
}

.stat table, .stat th, .stat td {
    border: 3px solid rgb(187, 10, 10);
    padding: 5px;
    text-align: center;
}

H1 {
    color: green;
    text-align: center;
    margin-top: 100px;
}

@media (max-width: 672px) {
	.content {
		display : block;
        margin: 20px 10px;
        
	}
	.stat {
        justify-content: center;
	    padding: 10px 0px;
	}
    .currentPlayer {
        margin: 0 auto;
        padding-bottom: 10px;
    }
    h1{
        margin-top: 20px;
        color: yellowgreen;
    }
} 